<div class="page bg-dark text-light">
    
    <div class="card bg-white text-dark card-education">
        <div class="card-header">

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-school"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-white" value="Técnico em Informática" readonly>
            </div>

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-graduation-cap"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-white" value="Instituto Federal do Piauí" readonly>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-white" value="2016 - 2018" readonly>
            </div>

        </div>
        <div class="card-body education-activities">

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>(Ano 1)</strong> Projeto 1</li>
                <li class="list-group-item"><strong>(Ano 1)</strong> Projeto 2</li>
                <li class="list-group-item"><strong>(Ano 2)</strong> Projeto 3</li>
                <li class="list-group-item"><strong>(Ano 3)</strong> Projeto 4</li>
            </ul>
          
        </div>
    </div>

</div>