<div class="page text-light">
    
    <div class="card container-contact mr-auto ml-auto text-dark">
        <div class="card-body">
            
            <form>
                <div class="row">
                    <div class="col-sm">
        
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="email" class="form-control" id="name" placeholder="Ex.: Carlos Eduardo">
                        </div>
        
                    </div>
                    <div class="col-sm">
        
                        <div class="form-group">
                          <label for="email">E-mail</label>
                          <input type="email" class="form-control" id="email" placeholder="Ex.: carlos@gmail.com">
                        </div>
        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
        
                        <div class="form-group">
                          <label for="message">Mensagem</label>
                          <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <button class='btn btn-light btn-block mb-2' type="reset">Limpar</button>
                    </div>
                    <div class="col-sm">
                        <button class='btn btn-success btn-block' type="submit">Enviar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>