<div class="page bg-dark text-light">
    
    <div class="card bg-white text-dark card-experience">
        <div class="card-header">

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-briefcase"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-white" value="Desenvolvedor Web Full Stack" readonly>
            </div>

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-building"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-white" value="ION Dev & Solar" readonly>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-white" value="2018 - agora" readonly>
            </div>

        </div>
        <div class="card-body">
            <p class='mb-0'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea molestias modi est reprehenderit explicabo illo nesciunt velit odit ducimus distinctio nisi officiis possimus eligendi quis, consequatur quas id molestiae esse.</p>
        </div>
    </div>

</div>