.profile-photo {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 0 auto 0 auto;
    border: solid 8px rgba(255,255,255,.2);
    background-color: rgba(255, 255, 255, .1);
    z-index: 10;
}
.profile-photo-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo-loading {
    position: absolute;
    left: calc(50% - 15px);
}


.paragraph-home {
    width: 80%;
    max-width: 500px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.social-links {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    a {
        margin: 5px;
        font-size: 20pt;
        color: rgba(255,255,255,.5);
    }

    a:hover {
        color: white;
    }
}