<div class="page bg-dark text-light">
    
    <div class="container-skills mr-auto ml-auto">
        <div class="row">
            <div class="col-sm">

                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control bg-white" value="PHP" readonly>
                </div>

            </div>
            <div class="col-sm">
                
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control bg-white" value="Python" readonly>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm">

                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control bg-white" value="Django" readonly>
                </div>

            </div>
            <div class="col-sm">
                
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control bg-white" value="Flask" readonly>
                </div>

            </div>
        </div>
    </div>

</div>