<div class="page text-light">

    <div class="card bg-white text-dark card-experience" *ngFor="let item of experience">
        <div class="card-header">

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-briefcase"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-white" value="{{ item.cargo }}" readonly>
            </div>

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-building"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-white" value="{{ item.empresa }}" readonly>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-white" value="{{ item.inicio }} - {{ item.fim }}" readonly>
            </div>

        </div>
        <div class="card-body">
            <p class='mb-0'>{{ item.descricao }}</p>
        </div>
    </div>

    <div *ngIf="!experience">
        <div class="spinner-border loading" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>

</div>