<div class="page text-light">

    <div class="profile-photo-div">
        <img src="{{ sobre.foto }}" class="profile-photo" alt="">
        <div class="spinner-border photo-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <br>
    
    <p *ngFor="let paragrafo of paragrafos" class='paragraph-home'>{{ paragrafo.paragrafo }}</p>

    <div class="social-links">
        <a *ngFor="let rede of redesSociais" href="{{ rede.link }}" target="_blank">
            <i class="{{ rede.icone }}"></i>
        </a>
    </div>
    
</div>