<div class="page bg-dark text-light">
    
    <div class="card bg-white text-dark card-education" *ngFor="let item of education; let i = index;">
        <div class="card-header">

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-school"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-white" value="{{ item.titulo }}" readonly>
            </div>

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-graduation-cap"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-white" value="{{ item.instituicao }}" readonly>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-white" value="{{ item.inicio }} - {{ item.fim }}" readonly>
            </div>

        </div>
        <div class="card-body education-activities" *ngIf="item.projetos.length > 0">

            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let projeto of item.projetos">
                    ({{ projeto.ano }}) <strong>{{ projeto.titulo }}: </strong> {{ projeto.descricao }} 
                </li>
            </ul>
          
        </div>
    </div>

</div>