<div class="alert alert-danger alert-dismissible fade shadow error-loading" id="error-loading" role="alert">
    <p>Ocorreu um <strong>erro inesperado</strong> ao carregar as informações. A página será recarregada.</p>
    <p>Se isto permanecer, por favor, abra uma <strong>issue </strong> <a rel="_blank" href="https://github.com/jjpaulo2/mysite-front-end/issues">aqui</a>.</p>
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>