<div class="page text-light">
    
    <div class="container-skills mr-auto ml-auto">

        <div class="card text-dark text-center mb-3" *ngFor="let item of skills">
            <div class="card-header">
                {{ item.titulo }}
            </div>
            <div class="card-body">
                <p class="card-text">{{ item.descricao }}</p>
            </div>
        </div>

    </div>

    <div *ngIf="!skills">
        <div class="spinner-border loading" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>

</div>